{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": 2,
    "quotes": ["error", "single"],
    "eol-last": ["error", "always"],
    "prettier/prettier": ["error"],
    "@typescript-eslint/no-namespace": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}
